# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [ ]:
# ecuacion que da como resultado = 100.25

In [7]:
resultado = (10**2 *2) / 2 + 1.5 - 1.25

In [8]:
print(resultado)

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [9]:
# forma 1

In [10]:
raiz1 = 100 ** 0.5

In [11]:
print("Raíz cuadrada con **:", raiz1)

Raíz cuadrada con **: 10.0

In [ ]:
# forma 2

In [12]:
import math

In [13]:
raiz2 = math.sqrt(100)

In [14]:
print("Raíz cuadrada con math.sqrt:", raiz2)

Raíz cuadrada con math.sqrt: 10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [ ]:
# cuadrado 100

In [15]:
cuadrado1 = 100 ** 2

In [16]:
print("Cuadrado con **:", cuadrado1)

Cuadrado con **: 10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string
#### Después usa dos métodos para devolver la letra 'o'

In [25]:
# definimos la string

In [26]:
texto = "hello"

In [28]:
# 1. Devolver la letra 'e' (indice 1)

In [30]:
print("Letra e:", texto[1])

Letra e: e

In [31]:
# 2. Darle la vuelta a la string

In [32]:
print("Texto invertido:", texto[::-1])

Texto invertido: olleh

In [33]:
# 3. Dos formas de devolver la letra 'o'

In [34]:
print("Letra o (con índice positivo):", texto[4])

Letra o (con índice positivo): o

In [35]:
print("Letra o (con índice negativo):", texto[-1])

Letra o (con índice negativo): o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [36]:
# Forma 1: escribirla directamente

In [38]:
lista1 = [0, 0, 0]

In [39]:
print("Lista 1:", lista1)

Lista 1: [0, 0, 0]

In [40]:
# Forma 2: usando multiplicación de listas

In [41]:
lista2 = [0] * 3

In [42]:
print("Lista 2:", lista2)

Lista 2: [0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [45]:
lista = [1,2,[3,4,'hello']]

In [48]:
lista[2][2] = 'goodbye'

In [49]:
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [50]:
listaSinOrdenar = [5,3,4,6,1]

In [51]:
listaOrdenada1 = sorted(listaSinOrdenar)

In [52]:
print("Con sorted():", listaOrdenada1)

Con sorted(): [1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [53]:
f = {'k1':{'k2':'hello'}}

In [54]:
print("f:", f['k1']['k2'])

f: hello

In [55]:
d = {'key1':'hello'}

In [56]:
print("d:", d['key1'])

d: hello

In [57]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [58]:
print("g:", g['k1'][0]['o1'][1][0])

g: hello

In [59]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [60]:
print("h:", h['k1'][2]['k2'][1]['dificil'][2][0])

h: hello

#### 9.- Crea una tupla (1 pto)

In [61]:
mi_tupla = (1, 2, 3, 'hello')

In [62]:
print(mi_tupla)

(1, 2, 3, 'hello')

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [65]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [63]:
# Convertir la lista a set para obtener valores únicos

In [66]:
valoresUnicos = set(listaDuplicada)

In [67]:
print(valoresUnicos)

{1, 2, 33, 4, 3, 11, 22}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [68]:
# 2 mayor que 3

In [69]:
print("2 > 3:", 2 > 3)

2 > 3: False

In [70]:
# 3 igual que 2

In [71]:
print("3 == 2:", 3 == 2)

3 == 2: False

In [72]:
# raíz cuadrada de 4 no es igual a 2

In [73]:
import math

In [74]:
print("√4 != 2:", math.sqrt(4) != 2)

√4 != 2: False

In [79]:
# 6 mayor que 5 y 7 menos que 8

In [80]:
print("6>5 y 7<8:", 6 > 5 and 7 < 8)

6>5 y 7<8: True

In [75]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [76]:
nombre = "Pepito"

In [77]:
colores = ["azul", "rojo", "verde", "lila", "amarillo limón"]

In [78]:
print("Condición nombre y colores:", len(nombre) == len(colores) or len(nombre) < 7)

Condición nombre y colores: True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [81]:
# datos

In [82]:
filas = [
    ["Juan", "Pérez Gómez", "28", "Firulais"],
    ["María", "López Díaz", "35", "Misu"],
    ["Carlos", "García Ruiz", "42", ""],
    ["Ana", "Sánchez Ortega", "30", "Rex"]
]

In [83]:
# archivo

In [86]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as archivo:
    for fila in filas:
        archivo.write("\t".join(fila) + "\n")

In [87]:
print("Archivo creado correctamente")

Archivo creado correctamente

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [88]:
# Crear el diccionario inicial

In [89]:
plantas = {
    "Rattus": ["novergicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]
}

In [90]:
# Obtener las keys y guardarlas en una lista

In [91]:
keys_lista = list(plantas.keys())

In [92]:
print("Lista de keys:", keys_lista)

Lista de keys: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [93]:
# Añadir un par de elementos más al diccionario

In [94]:
plantas["Ficus"] = ["benjamina", "elastica"]

In [95]:
plantas["Aloe"] = ["vera"]

In [96]:
# Actualizar la lista de keys

In [97]:
keys_lista = list(plantas.keys())

In [98]:
print("Lista de keys actualizada:", keys_lista)

Lista de keys actualizada: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia', 'Ficus', 'Aloe']

In [99]:
# Convertir la lista en un set

In [100]:
keys_set = set(keys_lista)

In [101]:
print("Keys como set:", keys_set)

Keys como set: {'Ficus', 'Glaucidium', 'Aloe', 'Rattus', 'Opuntia', 'Echinocactus'}